:root {
    --header-red--primary: #F24141;
    --header-red--secondary: #A62D2D;
    --header-red--third: #591919;
    --red-color--hover: #E95A5A;
    --bg-color: #303030;
    --bg-color-dark: #202020;
    --text-color: #eee;
    --black-color: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--text-color);
    outline: none;
}

body {
    background-color: var(--bg-color);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.formSearch {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-dark);
    width: 100%;
}

.formSearch input {
    padding: 8px 16px;
    font-size: 16px;
    color: var(--black-color);
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 8px 0;
} .formSearch input::placeholder {
    color: rgba(5, 5, 5, .3);
}

.formSearch img {
    width: 40px;
    cursor: pointer;
}